{% extends "layout.html" %}
{% block title %}wiki - {{ manifest }}{% endblock %}

{% block content %}
<h2>Wikipedia-to-IIIF</h2>
<p>Append the Wikiepdia slug to the /wiki/ path, like these:</p>
<ul>
    {% for slug in examples %}
        <li>
            <a href="{{ url_for('iiif_manifest', wiki_slug=slug) }}">(manifest)</a> | 
            <a href="http://universalviewer.io/examples/#?manifest={{ url_for('iiif_manifest', wiki_slug=slug, _external=True) }}">(uv.io)</a> |
            <a href="{{ url_for('wiki', wiki_slug=slug) }}">{{ slug }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

